<%- include('partials/header') -%>
<h1>Home</h1>

<p><%= homeStartingContent %></p>

<% posts.map(post => { %>
<h3><%= post.title %></h3>
<p><%= `${post.content.slice(0, 100)}...` %></p>
<% }) %>

<!-- FOOTER PARTIAL -->
<%- include('partials/footer') -%>
